body{
	margin:0;
	padding:0;
}
.container .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.details p{
    color: red;
}
.custom-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
}
.custom-wrapper{
    padding-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
}
.custom-card{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 20px;
}
.custom-card .thumbnail{
    margin-right: 20px;
}
.static-card{
    margin-bottom: 30px;
    display: flex;
    flex-wrap:  nowrap;
}
.post-details .post-description p{
    width: 300px;
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-details .post-black p{
    color: red;
}
.post-nav{
    color: black;
    text-decoration: underline;
}
h1{
    color: #152035;
}
h3{
    color: #596172;
}
.details h5{
    color: rgb(120,129,147);
}
.static-container .h1 h2{
    margin-left: 10px;
    margin-top: 70px;
}
.pagination-section{
    margin-top: 30px;
    position: relative;
}
.pagination-section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
}
.pagination-section a.active {
    background-color: lightblue;
    color: rgb(253,65,69);
}

.pagination-section a:hover:not(.active) {
    background-color: rgb(253,65,69);
}
.static-card .thumbnail{
    margin-right: 20px;
    margin-left: 10px;
}