#search-input{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}
#filter-input{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
}
.div-buttons #button-hindu, #button-christian, #button-islam, #reset{
    margin: 2px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 15px;
}
