#search-input{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}
#filter-input{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
}
.div-buttons #button-hindu, #button-christian, #button-islam, #reset{
    margin: 2px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 15px;
}
.current {
    color: rgb(0, 0, 0);
    background-color: rgb(249, 42, 42);
    padding: 15px;
}
  
#pagination li {
    display: inline-block;
}
#pagination li a{
    margin: 10px;
}

#export-csv{
    width: fit-content;
    background-color: aqua;
}

a.export,a.export:visited {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 8px;
}